parameters:
    level: 8
    paths:
        - src
    excludePaths:
        analyse:
            - src/DependencyInjection/*
            - src/CoolioORMBundle.php
            - src/Model/*
    ignoreErrors:
            - '#PHPDoc tag @var with type array<.*> is not subtype of native type list<.*>#'
